.footer {
  background: #2b2d42;
  color: #8d99ae;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
}

.contact-info > a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: #ef233c;
}

.contact-info > a:hover {
  /* text-decoration: none; */
  color: #ddd9e0;
  transition: all 0.2s;
}

.footer > h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-size: 35px;
  margin-top: 0;
}
