.header {
  position: fixed;
  z-index: 1;
  top: 0;
  /* border-bottom: 1px solid lightgray; */
  /* background-color: #1f1d21; */
  background-color: #2b2d42;
  color: #8d99ae;
  width: 100%;
  padding-top: 10px;
  height: 50px;

  /* transitions */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.header__black {
  /* background-color: #111; */
  background-color: #281738;
}

.header__links {
  text-align: center;
}

.header__link {
  padding: 10px;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
}
.header__link:hover {
  /* color: #ddd9e0; */
  color: #ef233c;
  transition: all 0.2s;
}

.header__black {
  background-color: #111;
}
