.project {
  /* padding-top: 75px; */
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  background-color: #141414;
}

.project__row {
  display: flex;
  /* z-index: 1; */
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 54px;
  margin-bottom: 10px;
  /* background-color: black; */
  /* color: white; */

  /* transition: transform 450ms; */
}
.project__row {
  /* transform: scale(1.2); */
}
.project__1 {
}
.project__title {
  padding-left: 15px;
  padding-bottom: -15px;
  /* color: white; */
}
