/* .project { */
/* padding-top: 75px; */
/* max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  background-color: #141414;  */
/*need to remove this for carousel*/
/* } */

.project__row {
  display: flex;
  /* z-index: 1; */
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 54px;
  margin-bottom: 10px;
  /* background-color: black; */
  /* color: white; */

  /* transition: transform 450ms; */
}
.project__row {
  /* transform: scale(1.2); */
}
.project__1 {
}
.project__title {
  padding-left: 15px;
  padding-bottom: -15px;
  /* color: white; */
}

/* For the carousel */
.project {
  max-width: 1500px;
  /* margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center; */
  margin-top: 70px;
  margin-bottom: 60px;
  /* background-color: white; */
  /* color: aliceblue; */
  /* justify-content: center; */
  /* border: 4px solid red; */
  margin-left: 120px;
  margin-right: 50px;
}
.project__title {
  /* justify-content: center; */
  display: flex;
  padding: 7px;
  margin-left: 60px;
  /* padding-left: 500px;
    padding-top: 20px;
    padding-bottom: 20px; */
  /* border: 1px solid blue; */
}
.project__carousel {
  /* border: 3px solid black; */
  display: flex;
  padding: 5px;
}

.home__image {
  width: 90%;
  object-fit: contain;
  border-radius: 30px;
  /* z-index: 1; */
  /* margin-bottom: -200px; */
  /* border: 5px solid lightgray; */
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 5), rgba(0, 0, 0, 0)); */
  /* height: 350px; */
  /* padding-right: 30px; */
  /* padding-top: 80px;
  padding-bottom: 80px; */
  /* padding: 80px; */
  /* justify-content: center; */
  margin-left: 40px;
  /* margin-right: 10px; */
  /* padding: 5px; */
  margin-right: -500px;
}
/* TODO: REMOVE THIS */

.project__info {
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* position: relative; */
  /* top: 10px; */
  /* bottom: -500px; */
  /* border: 1px solid palevioletred; */
  padding: 10px;
  /* margin-left: -200px; */
  /* margin-right: auto; */
}
.project__infoTitle {
  /* display: flex; */
  /* justify-content: center; */
  /* border: 1px solid lightblue; */
  padding-top: 20px;
}
.project__text {
  /* border: 1px solid green; */
  padding-top: 10px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 550;
}
.project__links {
  /* border: 1px solid cyan; */
  padding: 5px;
  display: flex;
  /* flex-direction: column; */
  margin-top: 30px;
  /* justify-content: center; */
  /* margin-left: auto;
  margin-right: auto; */
}
/* .project__button { */
/* text-decoration: none; */
/* border: 3px solid yellow;
  padding: 30px;
} */
.project__links {
  margin-top: 50px;
  /* border: 1px solid yellow; */
  /* margin-left: auto;
  margin-right: auto; */
  justify-content: center;
}
.project__links > button {
  /* text-decoration: none; */
  /* border: 3px solid yellow; */
  /* margin: 5px; */
  /* margin-right: 10px; */
  /* color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: blue;
  outline: none;
  text-align: center; */
  /* margin: 10px; */
}
.project__button {
  /* margin: 10px; */
  height: 30px;
  color: blue;
}
