.resume {
  font-family: "Open Sans", sans-serif;
  /* border: 1px solid red; */
  margin-top: 60px;
}
.resume__header {
  background: #8d99ae;
  /* color: #8d99ae; */
  /* color: white; */
  text-align: center;
  padding-bottom: 20px;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  /* border: 1px solid red; */
}
/* Work Experience | Technical Expertise
------------------------------------*/
.work,
.technical-expertise {
  background: #8d99ae;
}

/* Education | Referees
------------------------------------*/
.education,
.referees {
  background: #edf2f4;
}

.content-wrap > h2 {
  font-family: "Caveat", cursive;
  font-weight: 250;
  margin-bottom: 5px;
  /* border: 1px solid black; */
}
/* .content-wrap > h1 {
  font-size: 80px;
} */
.content-wrap > h2 {
  font-size: 32px;
  margin-top: 0;
}

.resume__headerDetails {
  padding: 10px;
}
.education__section {
  padding: 10px;
  display: flex;
  /* border: 1px solid lightgray; */
}
.education__sectionRight {
  /* border: 1px solid lightgray; */
  flex: 0.2;
  /* margin-left: 150px; */
  text-align: right;
}
.education__sectionLeft {
  /* border: 1px solid lightgray; */
  flex: 0.8;
}

.education__achievements {
  padding-left: 20px;
}
.education__achievementsTitle {
  font-weight: 600;
}
